<mat-toolbar class="custom-navbar">
  <a routerLink="/" mat-icon-button class="menu-btn" aria-label="Menu">
    <mat-icon>menu_book</mat-icon>
  </a>

  <span class="app-title">Examportal</span>

  <span class="spacer"></span>

  <a *ngIf="!login.isLoggedIn()" [routerLink]="'/login'" mat-flat-button class="login-btn ml20 mr20" aria-label="Login">
    Login
  </a>
  <a *ngIf="!login.isLoggedIn()" [routerLink]="'/signup'" mat-flat-button class="register-btn" aria-label="Register">
    Register
  </a>
  <a (click)="logout()" *ngIf="login.isLoggedIn()" mat-flat-button class="register-btn " aria-label="Register">
    Logout
  </a>
  
  <a *ngIf="login.isLoggedIn()"  [routerLink]="'/admin/profile'" mat-flat-button class="register-btn ml20" aria-label="Register">
    {{login.getUser().username}}
  </a>

</mat-toolbar>